<h2 id='about'>About</h2>
<p>
  Coming from Madison, WI, Gentle Brontosaurus is a five-piece indie-pop band, combining rock instrumentation with ukulele and trumpet. We've been compared to Camera Obscura, Belle & Sebastian, and Velocity Girl.
</p>
<img src='images/DSC_1015.JPG' style='max-width: 50%; display: block;'/>
<p>From left to right:</p>
<dl class='row'>
  <dt class='col-sm-3'>Anneliese Valdes</dt>
  <dd class='col-sm-9'>Bass and backing vocals</dd>
  <dt class='col-sm-3'>Scott Stetson</dt>
  <dd class='col-sm-9'>Guitar</dd>
  <dt class='col-sm-3'>Huan-Hua Chye</dt>
  <dd class='col-sm-9'>Lead vocals, guitar, and keyboards</dd>
  <dt class='col-sm-3'>Nick Davies</dt>
  <dd class='col-sm-9'>Lead vocals, keyboards, and trumpet</dd>
  <dt class='col-sm-3'>Paul Marcou</dt>
  <dd class='col-sm-9'>Drums and backing vocals</dd>
</dl>
<small>Photo credit: Paul Marcou</small>
