<h2 id='about'>About</h2>
<p>
  Gentle Brontosaurus is a five-piece indie-pop band from Madison, Wisconsin, in the vein of Alvvays, The Beths, and Belle & Sebastian. Critics have called their music “effortless, breezy fun interspersed with harder-edged rockers.” Huan-Hua Chye, Nick Davies, Paul Marcou, Scott Stetson, and Anneliese Valdes each contribute vocals and instrumentation, creating intricately collaborative songs and a dynamic live show. In 2026, Gentle Brontosaurus will release their third full-length album, Three Hares.
</p>
<img src='images/DSC_1015.JPG' style='max-width: 50%; display: block;'/>
<p>From left to right:</p>
<dl class='row'>
  <dt class='col-sm-3'>Anneliese Valdes</dt>
  <dd class='col-sm-9'>Bass and backing vocals</dd>
  <dt class='col-sm-3'>Scott Stetson</dt>
  <dd class='col-sm-9'>Guitar</dd>
  <dt class='col-sm-3'>Huan-Hua Chye</dt>
  <dd class='col-sm-9'>Lead vocals, guitar, and keyboards</dd>
  <dt class='col-sm-3'>Nick Davies</dt>
  <dd class='col-sm-9'>Lead vocals, keyboards, and trumpet</dd>
  <dt class='col-sm-3'>Paul Marcou</dt>
  <dd class='col-sm-9'>Drums and backing vocals</dd>
</dl>
<small>Photo credit: Paul Marcou</small>
