<h2 id='friends'>Friends</h2>

<a class='badge badge-primary' href="https://www.facebook.com/heavylooksband/">Heavy Looks</a>
<a class='badge badge-primary' href="https://www.facebook.com/earthlingsband/">The Earthlings</a>
<a class='badge badge-primary' href="https://www.facebook.com/owlsfoxesandsebastian/">Owls, Foxes, and Sebastian</a>
<a class='badge badge-primary' href="https://www.facebook.com/skylinesoundsmusic/">Skyline Sounds</a>
<a class='badge badge-primary' href="https://www.facebook.com/civilengineerstheband/">The Civil Engineers</a>
<a class='badge badge-primary' href="https://www.facebook.com/squarebombs/">The Square Bombs</a>

<a class='badge badge-light' href="https://www.facebook.com/TLDRband/">TL;DR</a>
<a class='badge badge-light' href="https://www.facebook.com/redtapediaries/">Red Tape Diaries</a>
<a class='badge badge-light' href="https://www.facebook.com/theseekingmachines/">The Seeking Machines</a>
<a class='badge badge-light' href="https://www.facebook.com/TheWerewolverine/">The Werewolverine</a>
