<h2 id='history'>History</h2>

<ul>
  <li>
    <strong>Fall 2013</strong>
    <p>The band started to assemble.</p>
  </li>
  <li>
    <strong>February 1, 2014</strong>
    <p>Our first show, arranged on short notice, with a drum machine sitting in for Paul.</p>
  </li>
  <li>
    <strong>November 6, 2015</strong>
    <p>The release of our first album, "Names of Things and What They Do", with a party at the Sett.</p>
  </li>
  <li>
    <strong>January 2016</strong>
    <p>Cal takes over from Jon Wooten on guitar.</p>
  </li>
  <li>
    <strong>March 16-21, 2016</strong>
    <p>Our first tour, down to SXSW and back, with stops in Lawrence, Fort Worth, and Oklahoma City.</p>
  </li>
  <li>
    <strong>October 7-15, 2016</strong>
    <p>Our second tour, with stops in Milwaukee, Chicago, Louisville, Nashville, Columbus, Pittsburgh, Cleveland, Kalamazoo, and Ann Arbor.</p>
  </li>
  <li>
    <strong>January 2017</strong>
    <p>Anneliese takes over from Michael Sambar on bass.</p>
  </li>
  <li>
    <strong>April 1, 2017</strong>
    <p>Release of 'Chucke' for the Sing Me A Story Foundation.</p>
  </li>
  <li>
    <strong>May 12, 2018</strong>
    <p>Release of our second album, "Bees of the Invisible", with a party at the Chrystal Corner Bar.</p>
  </li>
  <li>
    <strong>December 2018</strong>
    <p>Scott takes over from Cal Lamore on guitar.</p>
  </li>
</ul>
