<h2 id='news'>News<h2>

<small class='text-muted'>January 12, 2019</small>
<h4>
  Welcome, Scott!
</h4>
<p>
  You might notice another shift in our line-up. Scott Stetson has joined us, playing guitar. You might recognize him from Magma Carta and other things around town.
</p>
<p>
  We wish Cal Lamore best of luck with his other current and future projects.
</p>

<small class='text-muted'>May 12, 2018</small>
<h4>
  Bees of the Invisible out now
</h4>
<p>
  Stream it on all major streaming sites. Listen or buy a copy from Bandcamp or CDBaby.
</p>
<p>
  You can find it on CD at these local retailers:
</p>
<ul>
  <li>Strictly Discs</li>
  <li>B-side Records</li>
  <li>Mad City Music</li>
  <li>Sugar Shack Records</li>
</ul>
<p>
  We will also be selling it at our shows, on CD, cassette, or a download card with enamel pin!
</p>

<small class='text-muted'>June 17, 2018</small>
<h4>Chucke wins Best Childrens' Song!</h4>
<p>
  Thanks to everyone who voted for our charity single in the MAMAs.
</p>
