<h2 id='press'>Press</h2>

<blockquote class='blockquote'>
  <p class='mb-0'>
    It is difficult to highlight only some songs on this beautiful album because they all have something... In short, an excellent album, where indie pop asserts itself with beautiful melodies and a great repertoire of instruments that always enter at just the right moment. Great work by Gentle Brontosaurus.
  </p>
  <footer class='blockquote-footer'>
    Juan Ramon in
    <cite title="Nebrija Records Blog">
      <a href="https://nebrijarecords.blogspot.com/2018/05/gentle-brontosaurus.html">
        Nebrija Records Blog
      </a>
    </cite>
    (in Spanish)
  </footer>
</blockquote>
<blockquote class='blockquote'>
  <p class='mb-0'>
    The best album of the year has been replaced. Gentle Brontosaurus's second album
  </p>
  <footer class='blockquote-footer'>
    <cite title="@tweepoptweepop">
      <a href="https://twitter.com/TweePopTweePop/status/995323503644569601">
        @tweepoptweepop
      </a>
    </cite>
    (in Japanese)
  </footer>
</blockquote>
<blockquote class='blockquote'>
  <p class='mb-0'>
    Sweet, sunny and just a little bit twee, this indie pop quintet will make you want to dance and hug your friends. Gentle Brontosaurus is celebrating the release of their second album, Bees of the Invisible. With folk and jangle-pop influences, this 12-track effort features smart lyrics, thoughtful instrumentation and enchanting songwriting.
  </p>
  <footer class='blockquote-footer'>
    <cite title="The Isthmus">
      <a href="https://isthmus.com/events/dash-hounds-gentle-brontosaurus-cats-on-leashes/?occ_dtstart=2018-05-12T21:30"
        The Isthmus
      </a>
    </cite>
  </footer>
</blockquote>
<blockquote class='blockquote'>
  <p class='mb-0'>
    What the world needs now: the happy, fun indie-pop of @GentleBronto. The new record is for fans of The Rentals who want to be in the know of the next underground #tweeglee dance party. Track1.mp3 is currently on repeat!
  </p>
  <footer class='blockquote-footer'>
    <cite title="ThreeImaginaryGirls">
      <a href="https://twitter.com/3imaginarygirls/status/992138374298284032">
        ThreeImaginaryGirls
      </a>
    </cite>
  </footer>
</blockquote>
<blockquote class='blockquote'>
  <p class='mb-0'>
    Madison band Gentle Brontosaurus are an indie-pop five-piece in the lineage of eccentric, soft-spoken acts from They Might be Giants to Camera Obscura. Their name suggests a kind of restraint, as the gentleness of the band coexists with the considerable musical talents that they put to careful use on their sweet, twee sound. GB's instrumentation is complete with a ukulele, the occasional horn arrangement, and a laid-back rhythm section, giving the bulk of the band's songs a chill, summery feel. Lead vocalist Huan-Hua Chye sings with the ringing tone reminiscent of Dolores O'Riordan, sometimes trading off vocal duties with Nick Davies, who very seriously sounds like Stuart Murdoch of Belle & Sebastian.
  </p>
  <footer class='blockquote-footer'>
    Reid Kurkerewicz in
    <cite title="Tone Madison">
      <a href="https://www.tonemadison.com/events/dash-hounds-gentle-brontosaurus-cats-on-leashes">
        Tone Madison
      </a>
    </cite>
  </footer>
</blockquote>
<blockquote class='blockquote'>
  <p class='mb-0'>
    Seems like a band that'd be at home filling a big venue or playing your end-of-summer backyard BBQ party.
  </p>
  <footer class='blockquote-footer'>
    <cite title="Expansionista! issue #4">
      Expansionista! issue #4
    </cite>
  </footer>
</blockquote>
<blockquote class='blockquote'>
  <p class='mb-0'>
    Really delicious twee pop, along the lines of Camera Obscura and Velocity Girl, with a nice interplay between male and female voices.
  </p>
  <footer class='blockquote-footer'>
    <cite title="Polaroid Blog (in Italian)">
      Polaroid Blog (in Italian)
    </cite>
  </footer>
</blockquote>
