<h2 id='shows'>Shows</h2>

<h4>Upcoming</h4>
<div class='card-group'>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Aug 28, 2021, 7:00 PM</h6>
      <h5 class='card-title'>Ratboys at Memorial Union Terrace</h5>
      <p class='card-text'>Free, outdoors, all ages</p>
      <a class='card-link' href="https://www.facebook.com/events/317528890062036/">Details</a>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Aug 28, 2021, 8:00 PM</h6>
      <h5 class='card-title'>Songfight Live 2021 Night 2</h5>
      <p class='card-text'>Streaming on Youtube</p>
      <a class='card-link' href="https://www.facebook.com/events/906703160201737/">Details</a>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Sep 3, 2021, 4:00 PM</h6>
      <h5 class='card-title'>Party in the (James Madison) Park</h5>
      <p class='card-text'>Free, outdoors, all ages. One day fest organized by WSUM</p>
      <a class='card-link' href="https://www.facebook.com/events/3096488347343271/">Details</a>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Sep 18, 2021, 2:45 PM</h6>
      <h5 class='card-title'>Willy Street Fair</h5>
      <p class='card-text'>Free, outdoors, all ages, on the WORT main stage</p>
      <a class='card-link' href="https://www.facebook.com/willystreetfair/">Details</a>
    </div>
  </div>
</div>
