<h2 id='shows'>Shows</h2>

<h4>Upcoming</h4>
<!-- TODO: fill in show details -->
<div class='card-group'>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Jan 17, 3:00 PM</h6>
      <h5 class='card-title'>Ladyscissors & Emily AF at Gamma Ray</h5>
      <p class='card-text'>Matinee show</p>
      <a class='card-link' href="">Details coming soon!</a>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Feb 14, 8:00 PM</h6>
      <h5 class='card-title'>Three Hares album release at Crystal Corner</h5>
      <p class='card-text'>With our friends The Earthlings and Raddish</p>
      <a class='card-link' href="">Details coming soon!</a>
    </div>
  </div>
</div>
