<h2 id='shows'>Shows</h2>

<h4>Upcoming</h4>
<div class='card-group'>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Dec 21, 2019, 9:00 PM</h6>
      <h5 class='card-title'>Crystal Corner Bar</h5>
      <p class='card-text'>With Ladyscissors, Able Baker</p>
      <a class='card-link' href="https://www.facebook.com/events/446733299373953/">Details</a>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <h6 class='card-subtitle mb-2 text-muted'>Jan 17, 2020, 6:00 PM</h6>
      <h5 class='card-title'>Bos Meadery</h5>
      <p class='card-text'>Madison FemFest 2020, with 4th Curtis, Gender Confetti, Heavy Looks and more</p>
      <a class='card-link' href="https://www.facebook.com/events/451090532489977/">Details</a>
    </div>
  </div>
</div>
